<p>home works!</p>

<ul>
  <li>Insert list ID to get access to the list that was shared with you</li>
  <li>Log in to get access to your own and lists shared with you</li>
</ul>

<p>Registered Users:</p>
<ol>
  <li>Create list</li>
  <li>
    Type of event
  </li>
  <li>Add wishes</li>
  <li>
    Go 'live' with the list and get a list key you can share with your friends.
  </li>
  <li>
    Alternatively get a viewable link, everyone with the link can see the list
  </li>
  <li>Disable list - archive it</li>
</ol>

<p>Anonymous Users:</p>
<ol>
  <li>Enter your list key to get access to the list you want to see</li>
  <li>Look at list, mark as bought if you want</li>
</ol>
