<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="fill-remaining-space"></span>
  <a
    *ngIf="auth.loggedIn"
    mat-button
    aria-label="Me"
    [routerLink]="['/me']"
    routerLinkActive="router-link-active"
    >Me</a
  >
  <a
    *ngIf="auth.loggedIn"
    mat-button
    aria-label="Wishlists"
    [routerLink]="['/wishlists']"
    routerLinkActive="router-link-active"
  >
    Wishlists</a
  >

  <button mat-button (click)="auth.login()" *ngIf="!auth.loggedIn">
    Log In
  </button>
  <button mat-button (click)="auth.logout()" *ngIf="auth.loggedIn">
    Log Out
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
